{% extends 'base.html' %}

{% block content %}

    <div class="has-background-white-bis tiny-rounded p-4">
        <a href="{% url 'user_logout' %}" class="button is-small is-pulled-right">Logout</a>
        <div class="content">
            <p class="title is-4">{{ user.username }}</p>
            <p class="subtitle is-6">{{ user.email }}</p>
        {% if needs_engine_login %}
            <p class="is-size-5">
            Looks like this is your first time using the <a href="https://arcane.engineer/engine" target="_blank">Arcane Engine Platform</a>.
            </p>
            <p class="is-size-5">We need to connect your studio account to the central platform to enable the AI-driven tools.</p>
            {% url 'studio_home' as studio_url %}
            <a href="https://arcane.engineer/accounts/github/login/?process=login&next={{ request.scheme }}%3A//{{ request.get_host }}{{ studio_url|urlencode }}" class="button is-medium is-page-loader">
                <span>Connect</span>
                <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
            </a>
        {% else %}
            <form method="post" action="{% url 'delete_user_data' %}">
                {% csrf_token %}
                <button class="button is-danger is-outlined" type="submit" id="delete-button">
                    <span class="icon is-large"><i class="fas fa-trash"></i></span>
                    <span>Delete all my data</span>
                </button>
            </form>
        {% endif %}
        </div>

    </div>
    <script>
        $(document).ready(function() {
            $('#delete-button').click(function() {
                if (confirm('Are you sure you want to delete all your data?')) {
                    $(this).closest('form').submit();
                }
            });

        });
    </script>

{% endblock %}