{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title is-2">Almost there</p>
            </header>
            <section class="modal-card-body">
                <p>
                    Arcane Studio and the underlying engine are built around Github's
                    APIs. To use the studio, you need to authorize the application to access your Github account.
                </p>
            </section>
            <footer class="modal-card-foot">
                <div class="buttons is-fullwidth">
                    {% element form method="post" no_visible_fields=True %}
                        {% slot actions %}
                            {% csrf_token %}
                            {% element button type="submit" class=" is-fullwidth button is-medium" %}
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Login with Github</span>
                            {% endelement %}
                        {% endslot %}
                    {% endelement %}

                </div>

            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close">

        </button>
    </div>



    <script>
        $(document).ready(function() {
            $('.modal-close').click(function() {
                window.location.href = "{{ request.META.HTTP_REFERER }}";
            });
            $('.modal-background').click(function() {
                window.location.href = "{{ request.META.HTTP_REFERER }}";
            });
        });
    </script>



{% endblock content %}