{% extends "base_repos.html" %}

{%  block css %}
    .is-scrollable {
        max-height: 400px;      /* Set a max height */
        overflow-y: auto;       /* Enable vertical scrolling */
    }
    .is-blinking {
        animation: blinkAnimation 2s infinite;
        }

    @keyframes blinkAnimation {
        0%   { opacity: 1; }
        50%  { opacity: 0.3; }
        100% { opacity: 1; }
    }
{% endblock %}

{% block repo_content %}

{% include 'app_header.html' with title="Tasks" subtitle="Hand over work to the Arcane Engine" %}

<!-- New Task Form -->
<div class="content px-4">
    <form action="{% url 'create_task' owner=repo_owner repo=repo_name %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Prompt (<a href="https://arcane.engineer/labs/" target="_blank">examples</a>) </label>
            <div class="control">
                <textarea class="textarea" name="task_description" placeholder="Provide relevant details / context, use Markdown for formatting"></textarea>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-success is-small" type="submit" id="generate-button">
                    <span class="icon"><i class="fa fa-play"></i></span>
                    <span>Run Task</span>
                </button>
            </div>
        </div>
    </form>
</div>

{%  if tasks %}
<div class="table-container">
    <table class="table is-fullwidth is-hoverable is-rounded is-striped">
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td class=" is-narrow">
                        {% if task.status == 'completed' %}
                            <span class="icon has-text-success"><i class="fa fa-square-check"></i></span>
                        {% elif task.status == 'failed' %}
                            <span class="icon has-text-danger"><i class="fa fa-triangle-exclamation"></i></span>
                        {% elif task.status == 'scheduled' or task.status == "running" %}
                            <span class="icon has-text-info"><i class="fa fa-rotate fa-spin"></i></span>
                        {% endif %}
                        <span class="has-font-weight-light is-family-monospace is-size-7">
                            {{ task.created | timesince }}
                        </span>
                    </td>
                    <td>
                        <a href="{% url 'view_task' owner=repo_owner repo=repo_name task_id=task.id %}">
                            {{ task.title }}
                        </a>
                    </td>
                    <td>
                        <a class="button is-small" href="https://github.com/{{ task.github_user }} " target="_blank">
                            <span class="icon is-dark"><i class="fab fa-github"></i></span>
                            <span>{{ task.github_user }}</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<div class="p-4">
    <p class="content has-text-weight-light">
        No tasks created yet for <a href="https://github.com/{{ repo_owner }}/{{ repo_name }}" target="_blank">{{ repo_owner }}/{{ repo_name }}</a>
    </p>
</div>
{% endif %}

<script>
    $(document).ready(function() {
        $('#generate-button').click(function() {
            $(this).addClass('is-loading');
        });
    });
</script>
{% endblock %}