{% extends "base.html" %}
{% block title %}Arcane Studio - Chat{% endblock %}

{% block content %}


<!--Hero-->
<section class="hero is-dark is-bold  has-round-corners">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Tasks
            </h1>
            <h2 class="subtitle">
                Hand off routine work to the Arcane Engine
            </h2>
        </div>
    </div>
</section>
<section class="section content is-size-4">
    <p>
        A simple interface for turning natural language instructions into actionable tasks.
        Use this tool to automate small, self-contained tasks with a quick of a button.
        Check out <a href="https://arcane.engineer/labs/">Arcane Labs</a> for examples and to
        better understand how tasks can help you in your daily work.
    </p>
    <div class="laptop">
        <video autoplay loop muted playsinline>
            <source src="https://storage.cloud.google.com/arc-eng-videos/task_demo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <a href="{% url 'github_login' %}" class="button is-large is-rounded">
        <span>Login and run a task</span>
        <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
    </a>
</section>
<section class="section content has-text-centered">

</section>

<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}