{% extends "base.html" %}
{% block title %}Arcane Studio - Chat{% endblock %}

{% block content %}


<!--Hero-->
<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Tasks
            </h1>
            <h2 class="subtitle">
                Hand off routine work to the Arcane Engine
            </h2>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}