{% extends "base.html" %}
{% block title %}Arcane Studio - Chat{% endblock %}

{% block content %}


<!--Hero-->
<section class="hero is-dark  has-round-corners">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Tasks
            </h1>
            <h2 class="subtitle is-3">
                Hand off routine work to the Arcane Engine
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-5-desktop is-6-tablet is-flex is-align-items-center">
            <div class="content">
                <p class="title is-2">Just say the word</p>
                <p class="subtitle is-4">and let the engine do the work</p>
                <p>
                    A simple interface for turning natural language instructions into actionable tasks.
                    Use this tool to automate small, self-contained tasks with a click of a button. Here are some example
                    prompts:
                </p>
                <div class="control has-icons-left">
                    <div class="select is-fullwidth is-link is-medium">
                        <select id="task-prompts">
                            <option value="">Select an example prompt</option>
                            <option value="Find the CI/CD pipeline definition, read it and suggest improvements">Suggest improvements to CI/CD pipeline</option>
                            <option value="Update the README file: Add emojis to the beginning of each section, correct spelling errors, make the layout and text more cohesive and add badges right below the main header.">Make the README file pretty</option>
                            <option value="Find bash scripts in the main directory, read them, add error handling and comments and write them back to file.">Add error handling to bash scripts</option>
                            <option value="Read the README.md to learn more about the project. Then, find index.html and add SEO tags to it.">Add SEO tags to index.html</option>
                            <option value="List the `.` directory and read build scripts / configs. Then set up a linter for the project. Then tell me how to set this up as a pre-commit hook.">Add automated linting to the project</option>
                            <option value="Find open Github issues labeled as 'bug', then read the latest one. Find and read the relevant code files, then respond with an analysis - how to reproduce it, probable cause and a fix suggestion.">Analyze a bug ticket</option>
                            <option value="Read the README.md and other files in the root directory that tell you how the project is built and run. Then, write an onboarding guide for new developers on how to set it up and run the project locally.">Write onboarding guide</option>
                        </select>
                    </div>
                    <span class="icon is-left">
                    <i class="fas fa-lightbulb"></i>
                  </span>
                </div>
                <div class="mb-3">
                    <textarea class="textarea is-medium is-link mt-3" name="task_description" placeholder="Describe work to be done and provide relevant details / context"></textarea>
                </div>
                <p>
                    <a href="{% url 'github_login' %}?next={{ request.build_absolute_uri|urlencode }}" class="button is-link is-large is-fullwidth">
                        <span>Login and run a task</span>
                        <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
                    </a>
                </p>

            </div>
        </div>
        <div class="column is-7-desktop is-6-tablet">
            <div class="laptop">
                <video autoplay loop muted playsinline>
                    <source src="https://storage.googleapis.com/arc-eng-videos/task_demo_2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

    </div>



</section>
<section class="section content has-text-centered">

</section>

<script>
    $(document).ready(function() {
        $('#task-prompts').change(function() {
            var selected = $(this).val();
            $('textarea[name="task_description"]').val(selected);
        });
    });
</script>
{% endblock %}