{% extends "base_repos.html" %}

{%  block css %}
    .is-scrollable {
        max-height: 400px;      /* Set a max height */
        overflow-y: auto;       /* Enable vertical scrolling */
    }
    .is-blinking {
        animation: blinkAnimation 2s infinite;
        }

    @keyframes blinkAnimation {
        0%   { opacity: 1; }
        50%  { opacity: 0.3; }
        100% { opacity: 1; }
    }
{% endblock %}

{% block repo_content %}

    <div class="p-4">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'list_tasks' owner=repo_owner repo=repo_name %}">
            <span class="icon is-small">
              <i class="fas fa-gears" aria-hidden="true"></i>
            </span>
                        <span>Tasks</span>
                    </a>
                </li>
                <li>
                    <a href="#">
            <span class="icon is-small">
                {% if task.status == "running" or task.status == "scheduled" %}
                    <i class="fas fa-rotate fa-spin"></i>
                {% elif task.status == "completed" %}
                    <i class="fas fa-book" aria-hidden="true"></i>
                {% elif task.status == "failed" %}
                    <i class="fas fa-exclamation-triangle"></i>
                {% endif %}

            </span>
                        <span id="breadcrumb-title">{{ task.title }}</span>
                    </a>
                </li>

            </ul>
        </nav>


        <div class="buttons">
            <a href="https://arcane.engineer/dashboard/tasks/{{ task.id }}/" target="_blank" class="button is-small">
                <span class="icon is-small"><i class="fas fa-arrow-up-right-from-square"></i></span> <span>Details</span>
            </a>
            <a class="button is-small" id="view-prompt-button">
                <span class="icon is-small"><i class="fas fa-eye"></i></span> <span>Prompt</span>
            </a>
            {% if task.pr_number %}
            <a href="https://github.com/{{ task.github_project }}/pull/{{ task.pr_number }}/files" target="_blank" class="button is-small is-dark">
                <span class="icon is-small"><i class="fab fa-github"></i></span> <span>PR</span>
            </a>

            {% endif %}

        </div>



        <div class="content is-scrollable box pt-5 is-hidden" id="prompt-box">
            <p class="is-size-6 has-text-weight-light has-text-centered">
                <span class="icon is-small"><i class="fab fa-github"></i></span> <b class="has-text-grey-dark">Instructions</b>

            </p>
            <div class="is-size-7 is-family-monospace">
                {{ task.user_request | safe}}
            </div>

        </div>



        {%  if task.status == "completed" %}
        <div class="content mt-5">


            <div class="is-family-monospace p-3">
                {{ task.result | safe }}
            </div>
        </div>
        {% endif %}

        {% if task.status == "failed" %}
        <div class="content is-size-5 has-text-weight-light p-5 has-text-centered">
            The agent <b class="has-text-danger">{{ task.status }}</b> the task and responded:
        </div>
        <div class="box content has-background-danger-light">
            {{ task.result }}

        </div>

        {% endif %}


        {% if task.status == "scheduled" or task.status == "running" %}
        <div class="content box mt-5">

            <!-- Render task events using BulmaCSS Table -->
            <div class="table-container">
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td><span id="second-counter" class="has-text-weight-light"></span></td>
                        <td><progress class="progress is-secondary is-small mt-2" max="100">15%</progress></td>
                        <td class="is-family-monospace is-blinking" id="task-progress-indicator-text"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        {% endif %}

    </div>


    <script>
        $(document).ready(function() {

            $('#view-prompt-button').click(function() {
                $('#prompt-box').toggleClass('is-hidden');
                $('#view-prompt-button').toggleClass('is-active');
            });

             // Open websocket to get task updates
            const task = {
                id: "{{ task.id }}",
                status: "{{ task.status }}"
            }
            const taskEvents = [
                {% for event in task_events %}
                    {
                        id: "{{ event.id }}",
                        timestamp: "{{ event.timestamp }}",
                        target: "{{ event.target }}",
                        action: "{{ event.action }}",
                        icon: "{{ event.icon }}",
                        seconds_since_start: {{ event.seconds_since_start }}
                    },
                {% endfor %}
            ];
            let counter = 0;
            {% if task.status == "running" or task.status == "scheduled" %}
                // Count up timer and set value in #second-counter
                const lastEvent = taskEvents[taskEvents.length - 1];

                if (lastEvent) {
                    counter = lastEvent.seconds_since_start;
                }
                function countUp() {
                    counter++;
                    $("#second-counter").text(counter);
                }
                setInterval(countUp, 1000);
            {% endif %}

            const ACTION_FA_ICON_MAP = {
                "invoke_skill": "forward",
                "finish_skill": "backward",
                "push_branch": "code-branch",
                "checkout_branch": "code-branch",
                "write_file": "edit",
                "list_directory": "folder",
                "search_code": "search",
                "search": "search",
                "search_issues": "search",
                "read_github_issue": "file-alt",
                "read_pull_request": "file-alt",
                "read_files": "file-alt",
            }

            {% if task.status == "running" or task.status == "scheduled" or task.status == "created" %}

                function connectWebSocket() {
                    const ws = new WebSocket("wss://arcane.engineer/ws/tasks/{{ task.id }}/events/");

                    ws.onmessage = function (event) {
                        const data = JSON.parse(event.data);
                        const msgType = data['type'];

                        if (msgType === "status_update") {
                            window.location.reload();
                        }

                        if (msgType === "title_update") {
                            $('#task-progress-indicator-text').text(data['data']);
                            $('#breadcrumb-title').text(data['data']);

                        }

                        if (msgType === "event") {
                            const event = data['data'];
                            taskEvents.push(event);
                            event.icon = ACTION_FA_ICON_MAP[event.action] || "check";
                            const converter = new showdown.Converter();
                            const htmlMessage = converter.makeHtml(event.message);
                            $('.table tbody').append(`
                                <tr>
                                    <td class="has-text-weight-light">${counter}</td>
                                    <td><span class="icon"><i class="fa fa-${event.icon}"></i></span></td>
                                    <td>${htmlMessage}</td>
                                </tr>
                            `);

                            // Swap the last and second to last row in the table
                            const lastRow = $('.table tbody tr:last');
                            const secondLastRow = $('.table tbody tr:nth-last-child(2)');
                            lastRow.insertBefore(secondLastRow);
                        }

                        console.log(data);
                    };

                    ws.onclose = function () {
                        console.log('WebSocket closed. Reconnecting in 1 second...');
                        setTimeout(connectWebSocket, 1000); // Try to reconnect after 1 seconds
                    };

                    ws.onerror = function (error) {
                        console.error('WebSocket error:', error);
                        ws.close(); // Close the WebSocket to trigger the reconnect
                    };
                }

                // Initiate the WebSocket connection
                connectWebSocket();
            {% endif %}

            // When skill info button is hovered, show the skill instructions
            $('.skill-info-icon').click(function () {
                const skillId = $(this).closest('.skill-item').data('skill-id');
                $(`#skill-instructions-${skillId}`).toggleClass('is-hidden');
            });
        });
    </script>
{% endblock %}
