{% extends "base.html" %}
{% block title %}Arcane Studio - Chat{% endblock %}

{% block content %}


<!--Hero-->
<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Chat
            </h1>
            <h2 class="subtitle">
                Work with the Arcane Engine in real-time
            </h2>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}