{% extends 'base_repos.html' %}

{% block extra_navbar_right %}
{% endblock %}

{% block repo_content %}
    {% include 'app_header.html' with title="Bookmarked Repositories" subtitle="Select repositories to work with in Arcane Studio" %}

    {%  if not bookmarked_repos|length %}
        <p class="is-size-5 has-text-weight-light mb-5">
            Start by picking the repositories you want to work with.
        </p>
        <p class="is-size-5 has-text-weight-light mb-5">
            <a href="{% url 'repositories:show_repo_picker' %}" class="button is-medium is-page-loader">Let's go</a>
        </p>
    {% endif %}


    <div class="table-container">
        <table class="table  ">
            <tbody>
            {% for owner, bookmarks in bookmarked_repos.items %}
                {% for bookmark in bookmarks %}
                <tr>

                    <td class="is-narrow">
                        <figure class="image is-24x24 mt-1 ml-1 has-circle">
                            <img
                                    src="{{ bookmark.img_url }}"
                                    class="is-rounded" />
                        </figure>
                    </td>
                    <td class="is-narrow">
                        {{ bookmark.owner }} / {{ bookmark.repo_name }}
                    </td>
                    <td class="is-narrow">
                        <a href="{% url 'start_conversation' %}" class="button is-small is-page-loader">
                            <span class="icon"><i class="fas fa-comment"></i></span>
                        </a>
                        <a href="{% url 'list_tasks' owner=bookmark.owner repo=bookmark.repo_name %}" class="button is-small is-page-loader">
                            <span class="icon"><i class="fas fa-gears"></i></span>
                        </a>
                        <a href="{% url 'view_pull_request_default' owner=bookmark.owner repo=bookmark.repo_name %}" class="button is-small is-page-loader">
                            <span class="icon"><i class="fas fa-code-branch"></i></span>
                        </a>
                        <a href="{% url 'build_overview' owner=bookmark.owner repo=bookmark.repo_name %}" class="button is-small is-page-loader">
                            <span class="icon"><i class="fas fa-hammer"></i></span>
                        </a>
                    </td>
                    <td class="is-narrow">
                        <a href="https://github.com/{{ bookmark.full_name }}"
                           class="button is-small is-page-loader"
                           target="_blank">
                            <span class="icon"><i class="fas fa-arrow-up-right-from-square"></i></span>
                        </a>
                    </td>
                    <td class="is-flex">
                        <a class="button is-danger is-small is-outlined is-light is-page-loader"
                           href="{% url 'repositories:unbookmark_repo' org_name=owner repo_name=bookmark.repo_name %}">
                            <span class="icon"><i class="fas fa-trash"></i></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
            {%  if bookmarked_repos|length %}
            <tr>
                <td class="is-narrow">
                    <a class="button is-rounded is-outlined is-page-loader is-small is-dark is-light" href="{% url 'repositories:show_repo_picker' %}">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                    </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}