{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1PVNMNEWKS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1PVNMNEWKS');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <!-- Meta tags -->
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="LLM,AI,Machine Learning,Developer Tools,Productivity,{{ keywords }}">
    <meta name="author" content="Arcane Engineering">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="English">


    <!-- Social media tags -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo.jpg' %}">

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <style>
        {% block css %}
        {% endblock %}

    </style>

    <script>
        $(document).ready(function() {
        });
    </script>
</head>
<body>


<div class="container">

    <div class="columns">
        <nav class="level p-5">
            <p class="level-item has-text-centered">
                <a class="button is-rounded is-small {% if active_tab == "home" %}is-link{% endif %}}" href="/">
                    <span class="icon"><i class="fas fa-home"></i></span>
                </a>
            </p>
            <p class="level-item has-text-centered">
                {% url 'list_tasks' owner=repo_owner repo=repo_name as task_url %}
                <a class="button is-rounded is-small {% if not repo_owner %}is-static{% endif %} {% if active_tab == "tasks" %}is-link is-static{% endif %}"
                   href="{{ task_url }}">
                    <span class="icon"><i class="fas fa-gears"></i></span>
                    <span>Tasks</span>
                </a>
            </p>
            <p class="level-item has-text-centered">
                {% url 'view_pull_requests' owner=repo_owner repo=repo_name as view_pull_requests_url %}
                <a class="button is-rounded is-small {% if not repo_owner %}is-static{% endif %} {% if active_tab == "pull-request-manager" %}is-link is-static{% endif %}"
                   href="{{ view_pull_requests_url }}">
                    <span class="icon"><i class="fas fa-code-branch"></i></span>
                    <span>Pull Requests</span>
                </a>
            </p>
            <p class="level-item has-text-centered">
                {% url 'view_reports' owner=repo_owner repo=repo_name as view_reports_url %}
                <a class="button is-rounded is-small {% if not repo_owner %}is-static{% endif %} {% if active_tab == "reports" %}is-link is-static{% endif %}"
                   href="{{ view_reports_url }}">
                    <span class="icon"><i class="fas fa-file-alt"></i></span>
                    <span>Reports</span>
                </a>
            </p>

        </nav>
    </div>
    {% block content %}{% endblock %}
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Made with <span class="icon has-text-danger"><i class="fa fa-heart"></i> </span> by <a href="https://arcane.engineer" target="_blank">Arcane Engineering</a>.
            All rights reserved.
        </p>
    </div>
</footer>
</body>
</html>
