{% extends 'base.html' %}

{% block extra_navbar_right %}



<div class="navbar-item">
    {% url 'contribute' as contribute_url %}
    <div class="control has-icons-left">
        <div class="select is-dark">
            <select name="repo_id" id="repo-selector">
                <option value="">Select a repository</option>
                {% for owner, repos in bookmarked_repos.items %}
                    {% for bookmark in repos %}
                        {% if active_app == "tasks" %}
                            {% url 'list_tasks' owner=bookmark.owner repo=bookmark.repo_name as repo_link %}
                        {% elif active_app == "pull-request-manager" %}
                            {% url 'view_pull_request_default' owner=bookmark.owner repo=bookmark.repo_name as repo_link %}
                        {% elif active_app == "reports" %}
                            {% url 'view_reports' owner=bookmark.owner repo=bookmark.repo_name as repo_link %}
                        {% elif active_app == "build" %}
                            {% url 'build_overview' owner=bookmark.owner repo=bookmark.repo_name as repo_link %}
                        {% else %}
                            {% url 'list_tasks' owner=bookmark.owner repo=bookmark.repo_name as repo_link %}
                        {% endif %}

                        <option data-url="{{ repo_link }}"
                                value="{{ bookmark.full_name }}"
                                {% if bookmark.owner == repo_owner and bookmark.repo_name == repo_name %}selected{% endif %}>
                            {{ bookmark.owner }} / {{ bookmark.repo_name }}
                        </option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <span class="icon is-left">
    <i class="fab fa-github"></i>
  </span>
    </div>

</div>
{% endblock %}

{% block content %}



    <div class="">
        <div class="">
            {% block repo_content %}

            {% endblock %}
        </div>

    </div>
    <script>
    $(document).ready(function() {
        $('.repo-menu-item').click(function() {
            $(this).addClass('is-unselectable').attr('disabled', 'disabled');
        });
        $('#repo-selector').on('change', function() {
            const url = $(this).find(':selected').data('url');
            if (url) {
                console.log(url);
                window.location.href=url;
            }
        });

    });
    </script>

{% endblock %}