{% extends "base.html" %}

{%  block css %}
{% endblock %}

{% block content %}
    <section class="hero is-dark is-bold has-round-corners">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <span class="icon is-large"><i class="fas fa-code"></i></span>
                    <span>Contributing</span>
                </h1>
                <h2 class="subtitle">
                    Build new tools and automations
                </h2>
            </div>
        </div>
    </section>
<section class="section content is-size-5">
    <p class="">
        The entire suite is free and <a href="https://github.com/arc-eng/studio" target="_blank">open-source</a>. We welcome contributions from the community.

        If you're interested in building a tool like this for your own team, check out our <a href="https://arcane.engineer/development-kit" target="_blank" class="has-font-weight-medium">Development Kit</a>
        and <a href="https://docs.pr-pilot.ai/user_guide.html#command-line-interface" target="_blank" class="has-font-weight-medium">CLI</a>.
    </p>
    <p>
        To give you an idea of what the engine can do for you, here are some examples from our <a href="https://arcane.engineer/labs/" target="_blank">Lab</a>:
    </p>

    <ul>
        <li><i class="fa fa-file-code"></i> <a href="https://arcane.engineer/labs/PR-Pilot-AI/pr-pilot/create-a-docker-compose-yaml-for-local-development-of-pr-pilot-ai/">Read Helm chart and build scripts to generate docker-compose file</a></li>
        <li><i class="fa fa-code-branch"></i> <a href="https://arcane.engineer/labs/PR-Pilot-AI/pr-pilot/modularize-django-views-by-creating-separate-files-for-each-function/">Break down a large module into smaller ones in seconds</a></li>
        <li><i class="fa fa-book"></i> <a href="https://arcane.engineer/labs/hex337/quantum-attendance/create-an-enhanced-readme-for-quantum-attendance-project-1726448329-6865072/">Scrape project to generate beautiful README file</a></li>
    </ul>

    <p>
        If you have any questions or need help, feel free to reach out to us at <a href="mailto:support@arcane.engineer" class="has-font-weight-medium">support@arcane.engineer</a>.
    </p>
</section>

{% endblock %}