{% extends "base.html" %}

{%  block css %}
{% endblock %}

{% block content %}
    <section class="hero is-dark has-round-corners">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    <span class="icon is-large"><i class="fas fa-circle-info"></i></span>
                    <span>Feedback & Support</span>
                </h1>
                <h2 class="subtitle is-3">
                    How to contribute and where to find help
                </h2>
            </div>
        </div>
    </section>
<section class="section content is-size-5">
    <p class="title is-4">Extend or Customize Arcane Studio</p>
    <p class="">
        The Arcane Studio is <a href="https://github.com/arc-eng/studio" target="_blank">open-source</a>. We welcome contributions from the community.

        If you're interested in building a tool like this for your own team, check out our <a href="https://arcane.engineer/development-kit" target="_blank" class="has-font-weight-medium">Development Kit</a>.
    </p>
    <p class="title is-4">Bug Reports and Feature Requests</p>
    <p>

        If you have any questions or need help, feel free to reach out to us directly at <a href="mailto:support@arcane.engineer" class="has-font-weight-medium">support@arcane.engineer</a> or
        <a href="https://github.com/orgs/arc-eng/discussions">start a discussion on Github</a>.
    </p>
</section>

{% endblock %}