{% extends "base.html" %}

{% block title %}Arcane Studio - How it Works{% endblock %}

{% block content %}
    <section class="hero is-dark has-round-corners">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 is-2-mobile">
                    <span>
                        Your new favorite <span class="has-text-primary-25"><span class="icon is-large"><i class="fas fa-toolbox"></i></span> tool belt</span>
                    </span>
                </h1>
                <h2 class="subtitle is-3 is-4-mobile">
                    Simple & intuitive prompt-based interfaces
                </h2>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="columns">
            <div class="column is-5-desktop is-6-tablet is-flex is-align-items-center">
                <div class="content ">
                    <p class="is-size-5">
                        At the top of the page you'll find a list of tools, each with a different user experience. Choose the tool that best fits your needs and click on it to get started.

                    </p>

                    <p class="is-size-5">
                        Built using the <a href="https://arcane.engineer/engine/">Arcane Engine Platform</a>, our tools use generative AI to understand
                        natural language prompts. Given a prompt, the engine will use its <a href="https://docs.arcane.engineer/capabilities.html" target="_blank">capabilities</a> to interact with your Github repositories and other data sources like issues, pull requests, wikis and <a href="https://docs.arcane.engineer/integrations.html" target="_blank">more</a>.

                    </p>
                    <p class="has-text-centered">
                        <a href="{% url 'github_login' %}?next={% url 'repositories:repo_overview' %}" class="button is-medium is-rounded has-text-info-25 is-shadowless is-large">
                            <span>Login to get started</span>
                            <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="column is-7-desktop is-6-tablet">
                <div class="table-container">

                    <table class="table">
                        <tbody>
                        {% for tool in tools %}
                            <tr style="border:none">
                                <td class="is-narrow" style="border:none">
                                    <a href="{{ tool.link }}" class="button is-medium is-fullwidth is-shadowless">
                                        <span class="icon">
                                            <i class="fas {{ tool.icon }}"></i>
                                        </span>
                                        <span>{{ tool.name }}</span>
                                    </a>
                                </td>
                                <td class="has-text-weight-light is-size-5" style="border:none">
                                    {{ tool.description}}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr style="border:none">
                            <td></td>
                            <td class="has-text-centered">
                                <a href="{% url 'contribute' %}" class="button is-dark">
                                    <span>Learn how to build your own tools</span>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </section>


{% endblock %}