{% extends "base.html" %}

{% block title %}Arcane Studio - How it Works{% endblock %}

{% block content %}
    <section class="hero is-light has-round-corners">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-2 is-3-mobile">
                    <span>
                        Your new favorite <span class="has-text-primary-25"><span class="icon is-large"><i class="fas fa-toolbox"></i></span> tool belt</span>
                    </span>


                </h1>
                <h2 class="subtitle is-4 is-5-mobile">
                    Automate your day-to-day operations
                </h2>
            </div>
        </div>
    </section>


    <section class="section content is-size-4 is-size-5-mobile">
        <p>
            The studio contains a number of AI-driven tools that help you automate your daily work:

        </p>
        <div class="table-container">
            <table class="table has-background-light is-hoverable ">
                <tbody>
                {% for tool in tools %}
                <tr>
                    <td>
                        <span class="icon">
                            <i class="fas {{ tool.icon }}"></i>
                        </span>
                    </td>
                    <td class="is-narrow has-text-weight-bold">
                        <a href="{{ tool.link }}" class="has-text-dark">{{ tool.name }}</a>
                    </td>
                    <td>
                        {{ tool.description}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>


{% endblock %}