{% extends "base.html" %}

{% block title %}Arcane Studio - How it Works{% endblock %}

{% block content %}
    <div style="margin-left: 5em;" class="mt-0 pt-0">
        <span class="icon is-large is-size-3 is-blinking"><i class="fas fa-hand-pointer"></i></span>
        <span class="is-size-4 m-3">Pick a tool</span>
    </div>
    <section class="hero is-light has-round-corners">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    Your new favorite <span class="has-text-primary-25"><span class="icon is-large"><i class="fas fa-toolbox"></i></span> tool belt</span>

                </h1>
                <h2 class="subtitle is-2">
                    Automate your day-to-day operations
                </h2>
            </div>
        </div>
    </section>

    <section class="section content is-size-4">
        <div class="table-container">
            <table class="table has-background-light ">
                <tbody>
                {% for tool in tools %}
                <tr>
                    <td>
                        <span class="icon">
                            <i class="fas {{ tool.icon }}"></i>
                        </span>
                    </td>
                    <td class="is-narrow has-text-weight-bold">
                        {{ tool.name }}
                    </td>
                    <td>
                        {{ tool.description}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

    <section class="section content is-size-4">
        Currently, the studio contains a small collection of generic tools. Soon, you will
        see more tools that are tailored to your specific needs.
    </section>

{% endblock %}