{% extends "base.html" %}

{% block title %}Arcane Studio{% endblock %}
{%  block css %}

.clickable-card {
    cursor: pointer !important
}
.clickable-card:hover {
    background-color: #f8f8f8f8;
}
{% endblock %}

{% block content %}
    <section class="hero is-dark is-bold has-round-corners">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <span class="icon is-large"><i class="fas fa-cube"></i></span>
                    <span>Arcane Studio</span>
                </h1>
                <h2 class="subtitle">
                    Generative AI tools to support common workflows in software development
                </h2>
            </div>
        </div>
    </section>
    <section class="section p-0 mt-5">
        <div class="fixed-grid has-4-cols">

            <div class="grid content is-gap-2">
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-code-branch"></i></span>
                                PR Descriptions
                            </p>
                            <p>Codify your guidelines and automate pull request descriptions</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-bug"></i></span>
                                Bug Reporting
                            </p>
                            <p>Analyze stack traces and create comprehensive bug reports quickly</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-file"></i></span>
                                Documents
                            </p>
                            <p>Pull information from tickets, code, wikis and more to create documents</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-triangle-exclamation"></i></span>
                                Error Analysis
                            </p>
                            <p>Triage errors with your code and provide insights</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fab fa-readme"></i></span>
                                README
                            </p>
                            <p>Generate consistent and beautiful README files for your projects in seconds</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-user"></i></span>
                                User Stories
                            </p>
                            <p>Create user stories from feature requests and feedback</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-code"></i></span>
                                Code Reviews
                            </p>
                            <p>Analyze code changes and provide feedback</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                                Release Notes
                            </p>
                            <p>Generate release notes from your commits and PRs</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-flask"></i></span>
                                Research
                            </p>
                            <p>Easily do research across your wikis, tickets, code, and other data sources</p>
                        </div>
                    </div>
                </div>
                <div class="cell  is-flex is-flex-direction-column">
                    <div class="card clickable-card  is-flex-grow-1">
                        <div class="card-content">
                            <p class="title is-5">
                                <span class="icon"><i class="fas fa-project-diagram"></i></span>
                                Diagrams
                            </p>
                            <p>Generate beautiful diagrams from your code and documentation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            $('.clickable-card').click(function() {
                window.location = "{% url 'how_it_works' %}";
            });
        });
    </script>
{% endblock %}