{% extends "base_repos.html" %}

{% block title %}Pull Requests{% endblock %}


{% block repo_content %}
    <div class="p-3">
        <h3 class="title is-3">
            <span class="icon"><i class="fas fa-code-branch"></i></span>
            <span>Pull Requests</span>
        </h3>

        <p class="content is-size-5 has-text-weight-light">
            Generate PR descriptions for <a href="https://github.com/{{ selected_repo }}" class="is-family-monospace" target="_blank">{{ selected_repo }}</a>
        </p>
    </div>
    <div class="">
        <div class="column is-narrow">
            <ul class="is-centered">
                {% for pr in prs %}
                    <li class="block">
                        <form method="post" action="{% url 'generate_description' repo_owner repo_name %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="repo" value="{{ repo }}">
                            <input type="hidden" name="pr_number" value="{{ pr.number }}">
                            <button type="submit" class="button is-success is-light is-rounded generate-button">
                                <span class="icon">
                                    <i class="fas fa-wand-magic-sparkles"></i>
                                </span>
                            </button>
                        </form>
                        <a class="button is-rounded ml-3"  href="{{ pr.html_url }}" target="_blank">
                            <span class="icon">
                                <i class="fas fa-arrow-up-right-from-square"></i>
                            </span>
                            <span>{{ pr.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.generate-button').click(function() {
                $(this).addClass('is-loading');
            });
        });
    </script>

{% endblock %}