{% extends "base_repos.html" %}

{% block title %}Arcane Studio - Pull Requests{% endblock %}

{% block extra_header %}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
{% endblock %}


{% block repo_content %}
    {% include 'app_header.html' with title="Pull Requests" subtitle="Automate PR descriptions and reviews" %}

    <div class="columns">
        <div class="column is-4">
            <div class="tabs is-toggle is-toggle-rounded is-fullwidth">
                <ul>
                    <li class="is-active tab" id="description-tab">
                        <a>
                            <span class="icon is-small"><i class="fas fa-file-waveform"></i></span>
                            <span>Description</span>
                        </a>
                    </li>
                    <li id="review-tab" class="tab">
                        <a>
                            <span class="icon is-small"><i class="fas fa-magnifying-glass"></i></span>
                            <span>Review</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="description-tab-container" class="tab-container">
                <p class="is-size-5 mb-5">
                    Customize the options below to create the perfect PR description in seconds.
                </p>
                <form action="{% url 'generate_description' %}" method="post" class="is-fullwidth">
                    <input type="hidden" name="owner" value="{{ repo_owner }}">
                    <input type="hidden" name="repo" value="{{ repo_name }}">
                    <input type="hidden" name="pr_number" value="{{ selected_pr.number }}">

                    <div class="field" id="emoji-selector">
                        <p class="control has-icons-left">
                            <span class="select is-fullwidth is-info">
                              <select name="emojis">
                                <option value="readability" selected>Use emojis to enhance readability</option>
                                <option value="readability_and_fun">Emojis for readability and fun</option>
                                <option value="no_emojis">No Emojis</option>
                              </select>
                            </span>
                            <span class="icon is-small is-left">
                              <i class="fas fa-icons"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field" id="content-size-field">
                        <p class="control has-icons-left">
                            <span class="select is-info is-fullwidth">
                              <select name="content_size">
                                <option value="brief" selected>Keep it brief and concise</option>
                                <option value="medium">Brief, but elaborate where necessary</option>
                                <option value="detailed">Go into details</option>
                              </select>
                            </span>
                            <span class="icon is-small is-left">
                              <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field" id="structure-field">
                        <p class="control has-icons-left">
                            <span class="select is-fullwidth is-info">
                              <select name="structure">
                                <option value="topics" selected>Write bullet points grouped by topics</option>
                                <option value="files">Write bullet points grouped by file</option>
                                <option value="prose">Write prose and paragraphs</option>
                              </select>
                            </span>
                            <span class="icon is-small is-left">
                              <i class="fa-regular fa-file-lines"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field" id="additional-notes-field">
                        <div class="control">
                            <textarea class="textarea is-info"
                                      name="additional_instructions"
                                      placeholder="(Optional) additional instructions"></textarea>
                        </div>

                    </div>
                    <div class="field" id="title-emoji-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" name="add_emoji_to_title" checked/>
                            Add Emoji to PR title
                        </label>
                    </div>


                    <div class="field">
                        <div class="control">
                            <button class="button is-info is-fullwidth is-medium">
                                <span class="icon"><i class="fas fa-wand-magic-sparkles"></i></span>
                                <span>Generate Description & Title</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="review-tab-container" class="tab-container is-hidden">
                <p class="is-size-5">
                    Here you can review
                </p>
            </div>
        </div>
        <div class="column is-8">
            <div class="select is-info is-rounded mb-3">
                <select name="pr_number" id="pr-select">
                    {% for pr in prs %}
                        <option value="{% url 'view_pull_requests' pr_number=pr.number owner=repo_owner repo=repo_name %}">{{ pr.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <pre id="diff-data" style="display: none;">{{ diff_data }}</pre>
            <div id="diff-output"></div>
        </div>
    </div>
    

    {% if not prs %}
    <div class="p-4">
        <p class="content has-text-weight-light">
            No open pull requests in <a href="https://github.com/{{ repo_owner }}/{{ repo_name }}" target="_blank">{{ repo_owner }}/{{ repo_name }}</a>
        </p>
    </div>
    {% endif %}
    <script>
        // Get the diff data from the hidden pre tag
        const diffData = document.getElementById('diff-data').textContent;

        const targetElement = document.getElementById('diff-output');
        const configuration = { drawFileList: true, matching: 'lines' };

        const diff2htmlUi = new Diff2HtmlUI(targetElement, diffData, configuration);
        diff2htmlUi.draw();
    </script>
    <script>
        $(document).ready(function() {
            $('.generate-button').click(function() {
                $(this).addClass('is-loading');
            });
            $('#pr-select').on('change', function(){
                var url = $(this).val();
                if (url) {
                    window.location.href = url;
                }
            });
            $('.tab').click(function() {
                $('.tab-container').toggleClass('is-hidden');
                $('.tab').toggleClass('is-active');
            });
        });
    </script>

{% endblock %}