{% extends "base.html" %}
{% block title %}Arcane Studio - Pull Requests{% endblock %}

{% block content %}


<!--Hero-->
<section class="hero is-dark  has-round-corners">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Pull Request Manager
            </h1>
            <h2 class="subtitle is-3">
                A unified interface for managing your pull requests
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-5-desktop is-6-tablet is-flex is-align-items-center">
            <div class="content">
                <p class="title is-2">Automate Descriptions & Reviews</p>
                <p class="subtitle is-4">Your usual Github flow, just a lot faster</p>
                <p>
                    Writing good PR descriptions and reviewing code changes is important, but can take up a lot of time.
                    Use the PR Manager to get recommendations for your code changes and apply them with a single click.
                    When you finished your review, generate a beautiful PR description in seconds.
                </p>
                <p>
                    <a href="{% url 'github_login' %}?next={{ request.build_absolute_uri|urlencode }}" class="button is-link is-large is-fullwidth">
                        <span>Login and manage your PRs</span>
                        <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
                    </a>
                </p>
                <p>
                    We at Arcane Engineering use PR manager to generate descriptions for the <a href="https://github.com/arc-eng/studio">Arcane Studio repository</a>. See for yourself:
                </p>
                <p>
                    <a href="https://github.com/arc-eng/studio/pull/38" target="_blank">🔍 Refactor view_pull_request Function with Enhanced Documentation</a>
                </p>
                <p>
                    <a href="https://github.com/arc-eng/studio/pull/46" target="_blank">🔧 Revamp UI Elements for Enhanced Usability</a>
                </p>
                <p>
                    <a href="https://github.com/arc-eng/studio/pull/50" target="_blank">🔧 Update and Enhance Repository Management and UI</a>
                </p>

            </div>
        </div>
        <div class="column is-7-desktop is-6-tablet">

            <div class="laptop">
                <video autoplay loop muted playsinline>
                    <source src="https://storage.googleapis.com/arc-eng-videos/pr_demo_4.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

        </div>

    </div>


</section>
<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}