{% extends "base.html" %}
{% block title %}Arcane Studio - Pull Requests{% endblock %}

{% block content %}


<!--Hero-->
<section class="hero is-dark is-bold  has-round-corners">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Pull Request Manager
            </h1>
            <h2 class="subtitle">
                Create comprehensive PR descriptions in seconds
            </h2>
        </div>
    </div>
</section>
<section class="section content is-size-4">
    <p>
        Writing good PR descriptions is important, but can take up a lot of time.
        Use the PR Manager to codify your guidelines and generate PR descriptions
        that meet your quality standards.
    </p>
    <p>
        Here are some real-life examples from the <a href="https://github.com/arc-eng/studio">Arcane Studio repository</a>:
    <ul>
        <li>
            <a href="https://github.com/arc-eng/studio/pull/12" target="_blank">💬 Implement chat application</a>
        </li>
        <li>
            <a href="https://github.com/arc-eng/studio/pull/9" target="_blank">🔒 Implement login via allauth</a>
        </li>
        <li>
            <a href="https://github.com/arc-eng/studio/pull/10" target="_blank">🚀 Add Helm Chart for Deployment</a>
        </li>
    </ul>
    </p>
    <div class="laptop">
        <video autoplay loop muted playsinline>
            <source src="https://storage.cloud.google.com/arc-eng-videos/pr_demo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <a href="{% url 'github_login' %}" class="button is-large is-rounded">
        <span>Login and view open PRs</span>
        <span class="icon is-large"><i class="fas fa-arrow-right"></i></span>
    </a>
</section>
<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}