{% extends "base_repos.html" %}

{% block title %}Arcane Studio - Pull Requests{% endblock %}

{% block extra_header %}
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
{% endblock %}

{% block css %}
.sticky-div {
    position: relative; /* Default state */
    top: auto;
    z-index: 1000;
}

.fixed-div {
    position: fixed; /* Changes to fixed when scrolling */
    top: 0;
    z-index: 1000;
    background-color: white; /* Make sure background is solid */
    width: 100%; /* Make sure it covers the same width */
    margin-top: 10px; /* Add some margin to the top */
}

{% endblock %}

{% block repo_content %}

    {% include 'app_header.html' with title="Pull Requests" subtitle="Generate descriptions & reviews" classes="p-0"%}


    {% if not prs %}
        <p class="content has-text-weight-light is-size-5">
            No open pull requests in <a href="https://github.com/{{ repo_owner }}/{{ repo_name }}" target="_blank">{{ repo_owner }}/{{ repo_name }}</a>
        </p>
    {% else %}
    
    <div class="columns mt-3">
        <div class="column is-5">

            <div class="select is-fullwidth is-link mb-3">
                <select name="pr_number" id="pr-select">
                    {% for pr in prs %}
                        <option value="{% url 'view_pull_request' pr_number=pr.number owner=repo_owner repo=repo_name pr_tab=pr_tab %}"
                                {% if pr.number == selected_pr.number %}selected{% endif %}>#{{ pr.number }} {{ pr.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="tabs is-toggle is-fullwidth is-small">
                <ul>
                    <li class="is-active tab" id="description-tab" data-tab-id="describe">
                        <a>
                            <span class="icon is-small"><i class="fas fa-file-waveform"></i></span>
                            <span>Describe</span>
                        </a>
                    </li>
                    <li id="review-tab" class="tab" data-tab-id="review">
                        <a>
                            <span class="icon is-small"><i class="fas fa-magnifying-glass"></i></span>
                            <span>Review</span>
                        </a>
                    </li>
                    <li id="change-tab" class="tab" data-tab-id="change">
                        <a>
                            <span class="icon is-small"><i class="fas fa-code"></i></span>
                            <span>Change</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div id="describe-tab-container" class="tab-container"  data-tab-id="describe">

                {% if task and task.status != "completed" %}
                    <p class="is-5 p-3 has-text-grey">
                        <span class="icon has-text-info"><i class="fa fa-rotate fa-spin"></i></span>
                        <span>Generating title and description</span>
                    </p>

                    {% include 'task_live_updates.html' %}
                {% else %}
                    <a href="https://github.com/{{ repo_owner }}/{{ repo_name }}/pull/{{ selected_pr.number }}" target="_blank" class="is-pulled-right m-3">
                        <span class="icon is-small"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                    </a>
                    {% include 'markdown_container.html' with markdown=selected_pr.body id="current-desc" classes="content p-3" %}


                    <p class="is-size-5 mb-5 has-text-grey is-hidden">
                        Customize the options below to create the perfect PR description in seconds.
                    </p>
                    {% include 'description_generator_form.html' %}
                {% endif %}
            </div>

            <div id="review-tab-container" class="tab-container is-hidden" data-tab-id="review">
                <p class="is-size-5">
                    {% include 'review_generator_tab.html' %}
                </p>
            </div>
            <div id="change-tab-container" class="tab-container is-hidden" data-tab-id="change">
                <p class="is-size-5 has-text-weight-light p-3">
                    Soon, you will be able to apply changes to the PR using prompts.
                </p>
            </div>
        </div>
        <div class="column is-7">

            <pre id="diff-data" style="display: none;">{{ diff_data }}</pre>
            <div id="diff-output"></div>
        </div>
    </div>
    
    {% endif %}
    
    <script>
        // Get the diff data from the hidden pre tag
        const diffData = document.getElementById('diff-data').textContent;

        const targetElement = document.getElementById('diff-output');
        const configuration = { drawFileList: false, matching: 'lines' };

        const diff2htmlUi = new Diff2HtmlUI(targetElement, diffData, configuration);
        diff2htmlUi.draw();
    </script>
    <script>
        $(document).ready(function() {
            $('.generate-button').click(function() {
                $(this).addClass('is-loading');
            });
            $('#start-over-button').click(function() {
                $(this).addClass('is-loading');
            });
            $('#pr-select').on('change', function(){
                var url = $(this).val();
                if (url) {
                    window.location.href = url;
                }
                $(this).attr('disabled', 'disabled');
            });
            $('.tab').click(function() {
                var tabId = $(this).data('tab-id');
                $('.tab-container').addClass('is-hidden');
                $('.tab').removeClass('is-active');
                $('#' + tabId + '-tab-container').removeClass('is-hidden');
                $(this).addClass('is-active');
            });

            const describeTab = document.querySelector('.tab[data-tab-id="{{ pr_tab }}"]');
            if (describeTab) {
                describeTab.click();
            }


        });
    </script>

{% endblock %}