{% extends "base_repos.html" %}

{% block title %}Arcane Studio - Pull Requests{% endblock %}
{% block app_subtitle_navbar_item %}
<div class="navbar-item">
    <div class="control has-icons-left">
        <div class="select">
            <select name="pr_number" id="pr-select">
                {% for pr in prs %}
                    <option value="{% url 'view_pull_request' pr_number=pr.number owner=repo_owner repo=repo_name pr_tab=pr_tab %}"
                            {% if pr.number == selected_pr.number %}selected{% endif %}>#{{ pr.number }} - {{ pr.title }} </option>
                {% endfor %}
            </select>
        </div>
        <span class="icon is-left"><i class="fas fa-code-branch"></i></span>
    </div>
</div>
{% endblock %}
{% block extra_header %}
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
{% endblock %}

{% block css %}
.sticky-div {
    position: relative; /* Default state */
    top: auto;
    z-index: 1000;
}

.fixed-div {
    position: fixed; /* Changes to fixed when scrolling */
    top: 0;
    z-index: 1000;
    background-color: white; /* Make sure background is solid */
    width: 100%; /* Make sure it covers the same width */
    margin-top: 10px; /* Add some margin to the top */
}

.tab-container {
    border-left: 1px solid rgb(214, 217, 224);
    border-right: 1px solid rgb(214, 217, 224);
    border-bottom: 1px solid rgb(214, 217, 224);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.is-bordered {
    border: 1px solid rgb(214, 217, 224);
    border-radius: 5px;
}

.has-border-top {
    border-top: 1px solid rgb(214, 217, 224);
}

.has-border-bottom {
    border-bottom: 1px solid rgb(214, 217, 224);
}

.review-finding .card-header {
    cursor: pointer;
}

{% endblock %}

{% block repo_content %}



    {% if not prs %}
        <p class="content has-text-weight-light is-size-5">
            No open pull requests in <a href="https://github.com/{{ repo_owner }}/{{ repo_name }}" target="_blank">{{ repo_owner }}/{{ repo_name }}</a>
        </p>
    {% else %}


    <div class="columns mt-2">
        <div class="column is-7">

            {# Commit table #}
            <div class="has-round-corners is-bordered mb-5">
                <div class="content p-2 pb-1 mt-0 mb-0 has-text-centered has-background-light has-border-bottom">
                    <span class=" has-text-weight-normal has-text-grey-dark">
                        <span class="icon"><i class="fa fa-code"></i></span>
                        <span>Commits</span>

                    </span>
                    <a href="https://github.com/{{ repo_owner }}/{{ repo_name }}/pull/{{ selected_pr.number }}"
                       target="_blank"
                       class="is-pulled-right"
                    >
                        <span class="icon"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                    </a>

                </div>
                <div class="table-container">

                    <table class="table is-fullwidth is-hoverable">
                        <tbody>
                        {% for commit in commits %}
                            <tr>
                                <td class="is-narrow">
                                    <figure class="image is-32x32">
                                        <img src="{{ commit.avatar_url }}" alt="{{ commit.commit.author.name }}" class="is-rounded">
                                    </figure>
                                </td>
                                <td class="is-vcentered">
                                    <a href="{{ commit.html_url }}" target="_blank">{{ commit.commit.message }}</a>
                                </td>
                                <td class="is-narrow has-text-grey has-text-right">{{ commit.commit.author.date|timesince }} ago</td>
                            </tr>
                        {% endfor %}
                        {% if not change_request_task or change_request_task.status == "completed" %}
                            <tr>
                                <td class="is-narrow is-vcentered">
                                    <figure class="image is-32x32">
                                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="{{ user.username }}" class="is-rounded" />
                                    </figure>
                                </td>
                                <td class="is-vcentered" colspan="2">
                                    <form action="{% url 'apply_pr_change_request' %}" method="post"   class="my-2">
                                        {% csrf_token %}
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <input class="input" type="text" name="change_request" placeholder="Quickly make changes to the PR" >
                                                <input type="hidden" name="repo_owner" value="{{ repo_owner }}">
                                                <input type="hidden" name="repo_name" value="{{ repo_name }}">
                                                <input type="hidden" name="pr_number" value="{{ selected_pr.number }}">
                                            </div>
                                            <div class="control">
                                                <button class="button is-link" type="submit" id="send-button" disabled>
                                                    <span class="icon"><i class="fa fa-play"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>


            {% if change_request_task %}
                {% include 'task_live_updates.html' with task=change_request_task %}
            {% endif %}





            <pre id="diff-data" style="display: none;">{{ diff_data }}</pre>
            <div id="diff-output"></div>
        </div>
        <div class="column is-5">
            <div class="tabs mb-0 is-fullwidth is-boxed">
                <ul>
                    {% if change_requests %}
                        <li id="changes-tab" class="tab" data-tab-id="changes">
                            <a>
                                <span class="icon is-small"><i class="fas fa-code"></i></span>
                                <span>Changes</span>
                            </a>
                        </li>
                    {% endif %}
                    <li id="review-tab" class="tab" data-tab-id="review">
                        <a>
                            <span class="icon is-small"><i class="fas fa-magnifying-glass"></i></span>
                            <span>Code Review</span>
                        </a>
                    </li>
                    <li class="is-active tab" id="description-tab" data-tab-id="describe">
                        <a>
                            <span class="icon is-small"><i class="fas fa-file-waveform"></i></span>
                            <span>PR Description</span>
                        </a>
                    </li>
                </ul>
            </div>




            <div id="describe-tab-container" class="tab-container"  data-tab-id="describe">

                {% if task and task.status != "completed" and task.status != "failed" %}
                    <p class="is-5 p-3 has-text-grey">
                        <span class="icon has-text-info"><i class="fa fa-rotate fa-spin"></i></span>
                        <span>Generating new description and replacing existing one</span>
                    </p>

                    {% include 'task_live_updates.html' %}
                {% else %}
                    {% if task and task.status == "failed" %}
                        <p>
                            <span class="icon has-text-danger"><i class="fa fa-triangle-exclamation"></i></span>
                            <span class="is-size-5 has-text-weight-light p-3">The engine failed to generate a description for this PR:</span>
                        </p>
                        <p class="p-5">
                            {{ task.result }}
                        </p>
                    {% else %}
                        <div class="p-3">
                            {% if selected_pr.body %}
                                {% include 'markdown_container.html' with markdown=selected_pr.body id="current-desc" classes="content mb-5 p-3" %}
                                <p>
                                    <a href="https://github.com/{{ repo_owner }}/{{ repo_name }}/pull/{{ selected_pr.number }}"
                                       target="_blank"
                                       class="button is-ghost"
                                    ><span>View on Github</span>
                                        <span class="icon"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                                    </a>
                                </p>
                            {% else %}
                                <p class="is-size-5 mb-5 has-text-weight-light p-3">
                                    This PR has no description
                                </p>
                            {% endif %}
                        </div>

                    {% endif %}



                    {% include 'description_generator_form.html' %}
                {% endif %}

            </div>

            <div id="review-tab-container" class="tab-container is-hidden p-3 pb-0" data-tab-id="review">
                <p class="is-size-5">
                    {% include 'review_generator_tab.html' %}
                </p>
            </div>

            <div id="changes-tab-container" class="tab-container is-hidden p-3 pb-0" data-tab-id="changes">
                {% include 'changes_tab.html' %}
            </div>

        </div>

    </div>
    
    {% endif %}
    
    <script>
        // Get the diff data from the hidden pre tag
        const diffData = document.getElementById('diff-data').textContent;

        const targetElement = document.getElementById('diff-output');
        const configuration = { drawFileList: false, matching: 'lines' };

        const diff2htmlUi = new Diff2HtmlUI(targetElement, diffData, configuration);
        diff2htmlUi.draw();
    </script>
    <script>
        $(document).ready(function() {
            $('.generate-button').click(function() {
                $(this).addClass('is-loading');
            });
            $('#start-over-button').click(function() {
                $(this).addClass('is-loading');
            });
            $('#pr-select').on('change', function(){
                var url = $(this).val();
                if (url) {
                    window.location.href = url;
                }
                $(this).attr('disabled', 'disabled');
            });
            $('.tab').click(function() {
                var tabId = $(this).data('tab-id');
                $('.tab-container').addClass('is-hidden');
                $('.tab').removeClass('is-active');
                $('#' + tabId + '-tab-container').removeClass('is-hidden');
                $(this).addClass('is-active');
            });

            const describeTab = document.querySelector('.tab[data-tab-id="{{ pr_tab }}"]');
            if (describeTab) {
                describeTab.click();
            }
            // Enable send button when user types in the input field
            $('input[name="change_request"]').on('input', function() {
                // Disable if empty
                if ($(this).val() === '') {
                    $('#send-button').attr('disabled', 'disabled');
                } else {
                    $('#send-button').removeAttr('disabled');
                }
            });

            $('#send-button').click(function() {
                $(this).addClass('is-loading');
            });


        });
    </script>

{% endblock %}